/* Reset básico */
body {
    font-family: 'Arial', sans-serif;
    background-color: #181139;
    margin: 0;
    padding: 0;
}

/* Container principal */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.bg-app{
    background-color: #111125;
    color: aliceblue;
}


/* Estilos da tabela */
.table {
    width: 100%;
    background-color: #292952 !important;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.table th {
    background-color: #111125;
    color: white;
    padding: 10px;
    
}


 .clientes{
    width: 400px !important;
    background-color: #292952 !important;
    color: aliceblue !important;

}

.clientes-b{
    background-color: #292952 !important;
    color: aliceblue !important;
}
.card-aber{
    background-color: #D77534 ;
}

.bg-agur{
    background-color: #1D7287 ;

}

container-cards{
    display: flex;
    flex-direction: row !important;
}

.sup{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.infe{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.totall{
    display: flex;
    flex-direction: column;
}

.card-totall{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px ;
    height: 180px;
    margin: 0px 5px 5px 5px ;
    font-size: 30px;
}

.card-totall .card-text{
    font-size: 60px !important;
    text-align: center !important;
}
.totall, .container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.card-totall .infre{
    margin-top: 5px !important;
    text-align: center;
    margin: 0 auto;

}

.bg-tot1{
    background-color: #D77534;
}

.bg-tot{
    background-color: #1D7287 ;
}
.card-body{
    margin: auto 0 !important;
    text-align: center !important;
}

.table td {
    padding: 10px;
    text-align: center;
}

/* Badges de status */
.badge {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

/* Ajuste para o gráfico */
canvas {
    max-width: 100%;
    height: auto;
}

.grafiChar{
    width: auto !important;
}
.grafiChar .labels{
    font-size: 500px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.small-card {
    width: 150px;
    text-align: center;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grafiChar {
    width: 350px !important;
    height: 350px !important;
}

.alert-esc{
    color: red !important;
}


/* Responsividade */
@media (max-width: 768px) {
    h2 {
        font-size: 20px;
    }

    .table td, .table th {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }
}
